# node_modules folder
node_modules
pnpm-lock.yaml

# dist folder
dist

# out folder
out

# os files
.DS_Store

# logs
*.log*

# apps folder
apps

# build folder
/build/

# env variables
.env
electron-builder.env

# changelog
CHANGELOG.md
